<div class="news-container">
    <h1>What's Happening in the<br>Reduced Lens Community</h1>
    <h2>Reduced Lens Wiki</h2>
    <p>Due to server costs and seeing how people interact with reducedlens.org, the choice has been made to reduce these costs while still preserving as much free
        content as possible.</p>
    <p>Reduced Lens Wiki saw very very few edits, just like EndMyopia Wiki for many years, and there ultimately isn't much of a point in keeping a Web 2.0 MediaWiki
        instance running on a backend that costs money when all the content is effectively already written and all people really want to do is read the content.</p>
    <p>People can either choose to read <a href="https://wiki.endmyopia.org/wiki/EndMyopia_Wiki">EndMyopia Wiki</a> with virtually the same content as the Reduced
        Lens Wiki had, or use the Reduced Lens Wiki archive. If you're crazy enough you can
        <a href="https://github.com/Reduced-Lens/Reduced-Lens-Wiki-Archive">rehost the wiki</a> yourself.</p>
    <p>For a more modern way to read the most important content of the wiki, you can use the
        <a href="https://github.com/Reduced-Lens/Reduced-Lens-Book">Reduced Lens Book</a>.</p>
    <h2>Reduced Lens Forum</h2>
    <p>Thanks to everyone who participated in the forum. Ultimately it has to be closed though - the <a href="https://discord.gg/ysGb5paH4a">Discord server</a> will
        always be around for as long as possible for those interested in talking to other people to get advice.</p>
    <br>
    <span>-NottNott</span>
</div>
