<div class="main-container">
    <div class="title-container">
        <h1 id="catchphrase-title">Nearsightedness is Reversible!</h1>
        <h2 id="catchphrase-subtitle">For 99% of people. Are you part of the 99%?</h2>
    </div>
    <div class="responsive-card-container">
        <app-responsive-card class="responsive-card"
            frontText="Why am I nearsighted? Can I reverse it?"
            backText="It's caused by lenses and a close-up lifestyle! With some careful determination, you can reverse it."
            lightboxTextTitle="Your Glasses are the Issue"
            lightboxText="When you look at things that are very close to you, a muscle in your eye needs to flex in order to allow you to see those things.
                When this muscle flexes for too long, it can have a hard time relaxing, making it difficult to see things at a distance. An optometrist will
                give you very strong glasses to allow you to see things at a distance, but this will make close distance objects be defocused behind your
                retina. Staying in defocus for too long will trigger your eye to grow longer, causing seemingly permanent myopia (nearsightedness)! You can
                reverse this process by doing the opposite and putting the defocus in front of your retina instead."
            lightboxLink="/myopia-explanation"></app-responsive-card>
        <app-responsive-card class="responsive-card"
            frontText="Is it easy to reverse my nearsightedness?"
            backText="If you create good habits and a plan, it's possible! 1000s of others have done it."
            lightboxTextTitle="Reduce Your Lenses and Focus on the Blur Horizon"
            lightboxText="Myopia (nearsightedness) is caused by looking at close objects with too powerful lenses. In order to reverse it, you will need to
                do the opposite: Look at objects in the distance and wear weaker lenses. When you put the focal point of the light entering your eye in front
                of your retina by wearing weaker lenses, you will notice that things are just a little bit blurry in the distance. This is actually what you
                want, because it encourages your eye to fix its nearsightedness. When you look at things close to you like a computer screen or book, you will
                want to wear significantly weaker powered glasses so that what you're viewing is just barely in your range of focus. By wearing the correct
                pair of glasses to ensure that you are often looking just at your blur horizon in your day to day life, you can encourage your eye to fix its
                nearsightedness."
            lightboxLink="/rlm-explanation"></app-responsive-card>
        <app-responsive-card class="responsive-card"
            frontText="How much does it cost to reverse my nearsightedness?"
            backText="It's mostly free! All you need to buy are a few pairs of glasses."
            lightboxTextTitle="Become a Collector of Reduced Lens Glasses"
            lightboxText="In order to create the proper amount of blur needed to teach your eyes to fix its myopia (nearsightedness), you will need to buy
                more glasses. The current lenses you were prescribed are almost certainly too powerful for what you need, so you will need to buy a slightly
                weaker pair of glasses for when you are looking at distant objects. For looking at close objects, you will need to buy a second set of even
                weaker glasses to put your blur horizon just at what you're viewing. As your eyes adjust, these two pairs of glasses will soon become too
                strong for you, and you'll need to buy another new pair of distance glasses and a new pair of close range glasses. Does it sound expensive?
                Don't worry, there are websites that will sell you glasses for way cheaper than what your local optician will. Instead of $500, how does $35
                sound?"
            lightboxLink="/buying-glasses"></app-responsive-card>
    </div>
    <h3 id="external-links-header">Need more information? Check out these links.</h3>
    <div class="external-links-container">
        <div class="call-to-action-button-container">
            <app-call-to-action-button class="call-to-action-button"
                text="Discord"
                link="https://discord.gg/ysGb5paH4a"
                backgroundImage="assets/DiscordBackground.png"></app-call-to-action-button>
            <app-call-to-action-button class="call-to-action-button"
                text="Studies"
                link="https://wiki.reducedlens.org/wiki/Clinical_Studies"
                backgroundImage="assets/StudiesBackground.png"></app-call-to-action-button>
            <app-call-to-action-button class="call-to-action-button"
                text="Videos"
                link="https://www.youtube.com/watch?v=XPIGDSY_xBs"
                backgroundImage="assets/YouTubeBackground.png"></app-call-to-action-button>
        </div>
        <div class="wiki-img-link-container">
            <app-blur-box
                text="Reduced Lens Community Wiki"
                link="https://wiki.reducedlens.org/wiki/Guide:Start_your_improvement_here"
                backgroundImage="assets/RLwikiSnapshot.png"></app-blur-box>
        </div>
    </div>
</div>