<div class="disclaimer-container">
    <h1>Disclaimer</h1>
    <h2>This site is not medical advice</h2>
    <p>Consult your optometrist, ophthalmologist or other medical practitioner if you have concerns about your eye health. We are not qualified to give medical advice and give no representations that we are. If you have any vision problems not corrected by your glasses, pain, or stress when using your eyes, consult with a medical professional and resolve that before experimenting with the reduced lens method.</p>
</div>
